 {{> head }}

 
   
{{> navbar }}

<div class="row">

    <div class="col col-8">

<h1>Capitan America</h1>
<p> 

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi deserunt ipsum adipisci velit eos commodi eligendi dignissimos aliquam in laboriosam quis, illo culpa, provident magnam enim distinctio eius mollitia odio? Atque maxime, perspiciatis consequatur, debitis sunt minima quos laboriosam adipisci, alias laborum esse eveniet unde praesentium. Odio deserunt maiores ducimus.

   </p>
    </div>

     <div class="col col-4">
<img src="assets/img/capitan.png" class="img-thumbnail" height="125" width="125" >
 

    </div>
</div>
 



   {{> footer }}